div{
    box-shadow: 10px 10px 40px gray;
    width: 250px;
    height: 250px;
    background-color: orange;
    border: 2px double yellowgreen;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-delay: 0.9s;
    
}
div h1{
    padding: 20px;
    text-align: center;
}
@keyframes example{
  0%{background-color: orange; left: 0px; top: 0px; animation-timing-function: ease-in;}
  25%{background-color: cyan; left: 200px; top: 0px; animation-timing-function: ease-out;}
  50%{background-color: blue; left: 200px; top: 200px; animation-timing-function: ease-in-out;}
  75%{background-color: sandybrown; left: 0px; top: 200px; animation-timing-function: ease;}
  100%{background-color: orange; left: 0px; top: 0px; animation-timing-function: linear;}
  

}
